*{
	margin: 10;
	padding: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif; 
}

label {
		color: #999999; 
		width: 14em;
		float: left;
		margin-top: 28px;
		margin-left: 5px;
		vertical-align: middle;
}
.container{
	width: 500px;
	clear: both;
	border: solid 1px #617798; 
	float: center;
	background: #fafafa;
	
	/*-webkit-border-bottom-right-radius: 3px; 
	-webkit-border-bottom-left-radius: 3px; 
	
    -moz-border-radius-bottomright: 3px; 
	-moz-border-radius-bottomleft: 3px;*/
}

.title{
	width: 500px;
	height:60px;
	clear: both;
	border: solid 1px #617798; 
	font: normal 20px/100% Verdana, Tahoma, sans-serif; 
	background: #617798;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	
	/*-webkit-border-top-right-radius: 3px; 
	-webkit-border-top-left-radius: 3px; 
	
    -moz-border-radius-topright: 3px; 
	-moz-border-radius-topleft: 3px;*/
	
}

#txtCompName, #lblPassword { 
	padding: 9px; 
	border: solid 1px #E5E5E5; 
	outline: 0; 
	font: normal 13px/100% Verdana, Tahoma, sans-serif; 
	background: #FFFFFF; 
	display:inline-block;
	width:50%;
	height: 30px;
	clear: both;
	margin: 10px;
	
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	
	/*background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
	
	-webkit-border-radius: 10px; 
    -moz-border-radius: 10px; */
	
	
} 


#txtCompName:hover, #txtCompName:focus{
	border: solid 1px #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
}
   
input[type="submit"] { 
	width: auto; 
	padding: 9px 15px; 
	background: #617798; 
	border: 0; 
	font-size: 14px; 
	color: #FFFFFF; 
	float: right;
	margin-top: 20px;
	-webkit-appearance: none;
}

input[type="submit"]:hover{
	background: #576b88;
	color: #E5E5E5;
	-webkit-appearance: none;
}



